html {
  animation: pulse 60s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001f3f63;
  }
  50% {
    background-color: #80545267;
  }
  100% {
    background-color: #001f3f63;
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.header {
  color: #ae5a41;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica;
  margin-top: 50px;
  margin-bottom: -25px;
  width: 100vw;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
}

.circles {
  width: 1000;
  height: 1000;
  z-index: -100;
}

.sphere {
  width: 450px;
  height: 450px;
  position: relative;
  margin: 0px 0px 150px 0px;
}

#canvas {
  position: absolute;
  border-radius: 50%;
}

@keyframes wheelSpin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(1920deg);
  }
}




@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .sphere {
    width: 350px !important;
    height: 350px !important;
    margin: 100px 0px 110px 2px;
    -webkit-tap-highlight-color: transparent;
  }

  #canvas {
    width: 350px !important;
    height: 350px !important;
    -webkit-tap-highlight-color: transparent;
  }

  main {
    max-width: 370px;
    margin-left: -4px;
  }
}