html {
  background-color:#f0f0f0;
}

.header {
  color: white;
  font-size: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sphere {
  width: 450px;
  height: 450px;
  position: relative;
  margin: 150px 0px 150px 0px;
}

#canvas {
  position: absolute;
  border-radius: 50%;
}

@keyframes wheelSpin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(1920deg);
  }
}




@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .sphere {
    width: 350px !important;
    height: 350px !important;
    margin: 100px 0px 110px 2px;
    -webkit-tap-highlight-color: transparent;
  }

  #canvas {
    width: 350px !important;
    height: 350px !important;
    -webkit-tap-highlight-color: transparent;
  }

  main {
    max-width: 370px;
    margin-left: -4px;
  }
}